---
import Layout from '../../layouts/Layout.astro';
import { getArtistData } from '../../lib/spotify';
import SectionHeader from '../../components/SectionHeader.astro';
import GlassHeader from '../../components/GlassHeader.astro';
import AlbumCarousel from '../../components/albums/AlbumCarousel.astro';

const { id } = Astro.params;
if (!id) return Astro.redirect('/404');

const { artist, albums, singles } = await getArtistData(id);

if (!artist) return Astro.redirect('/404');
---

<Layout title={`${artist.name}`}>
  <GlassHeader 
    id={artist.id}
    title={artist.name}
    image={artist.images[0]?.url}
    type="Artista Verificado"
    transitionName="artist"
  />

  <div class="flex flex-col gap-16 mt-12 px-4 md:px-8">
    {albums.length > 0 && (
      <AlbumCarousel title="Ãlbumes" items={albums} />
    )}

    {singles.length > 0 && (
      <AlbumCarousel title="Singles" items={singles} />
    )}
  </div>
</Layout>