---
// src/pages/artist/[id].astro
import Layout from '../../layouts/Layout.astro';
import { getArtistData } from '../../lib/spotify';
import GlassHeader from '../../components/GlassHeader.astro';
import AlbumItem from '../../components/albums/AlbumItem.astro'; // Importamos el item
import MediaCarousel from '../../components/MediaCarousel.astro';
import AlbumGrid from '../../components/albums/AlbumGrid.astro';

const { id } = Astro.params;
if (!id) return Astro.redirect('/404');

const { artist, albums, singles } = await getArtistData(id);

if (!artist) return Astro.redirect('/404');
---

<Layout title={`${artist.name}`}>
  <div class="relative w-full [transform:translateZ(0)] isolate">
    <div class="absolute -top-32 -right-32 w-[500px] h-[500px] bg-[#1DB954]/5 rounded-full blur-[150px] pointer-events-none will-change-transform"></div>
    
    <GlassHeader 
      id={artist.id}
      title={artist.name}
      image={artist.images[0]?.url}
      type="Artista Verificado"
      transitionName="artist"
    />

    <div class="flex flex-col gap-16 mt-12 px-4 md:px-8 [transform:translateZ(0)]">
      
      {albums.length > 0 && (
        <AlbumGrid albums={albums} />
      )}

      {singles.length > 0 && (
        <AlbumGrid albums={singles} />
      )}
      
    </div>
  </div>
</Layout>